#pagea {
	width:820.1670px;
	height:1058.2810px;
	/*padding:30px 70px 0 76px;
	color: #ebebeb;
	font: 12px arial, helvetica, sans-serif;
	margin:100px;
	background:url(../image/bacground.png) no-repeat left top;*/
	/*background:url(../image/sj.png) no-repeat left top;*/
	/*background-size: 816.378px 1077.165px;*/
	background-size: 820.1670px 1058.2810px;
	background-position: left top;

}

